// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table{
    height: 200%;
}


.btn {
    float: right;
    margin-bottom: 30px;
}

.table{
    font-size: 120%;
}

.table > td.move-right{
    padding-left: 30px;
}

.row{
    margin-top:50px;
}


.home-form{
    margin-right:50px;
}

.form-group{
    float:left;
    margin-right:10px;
}

.menu{
    float: right;
    margin-right: 30px;
    font-size: 150%;
}



.kannsou-form{
    padding-top: 50px;
    margin-bottom: 30px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}


.mom-form{
    width:400px ;
    padding: 20px;
    border:1px solid #dee7ec;
    font-size:24px;
}

.memo-form{
    width:800px ;
    padding: 40px;
    border:1px solid #dee7ec;
    font-size:20px;
}


