// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1{
    margin-bottom: 300px;
}



.row{
    margin-top:50px;
}


.home-form{
    margin-right:50px;
}

.form-group{
    float:left;
    margin-right:10px;
}




.kannsou-form{
    padding-top: 100px;
    margin-bottom: 50px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}


.mom-form{
    width:400px ;
    padding: 20px;
    margin-bottom: 30px;
    border:1px solid #dee7ec;
    font-size:24px;
}

.memo-form{
    width:800px ;
    padding: 40px;
    margin-bottom: 30px;
    border:1px solid #dee7ec;
    font-size:20px;
}


