// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table{
    height: 200%;
}

.top{
    margin-bottom: 20px;
}

.title{
    font-size: 200%;
}

.btn {
    float: right;
    margin-bottom: 20px;

}

.table{
    font-size: 120%;
}

.table > td.move-right{
    padding-left: 30px;
}

.row{
    margin-top:50px;
}

.date{
    margin-right: 20px;
}

.home-form{
    margin-right:50px;
}

.form-group{
    float:left;
    margin-right:10px;
}

span{
    font-size: 120%;
}

.menu{
    float: right;
    margin-top: 20px;
    margin-right: -10%;
    font-size: 150%;
}



.kannsou-form , .comments-form , .comments-index{
    padding-top: 50px;
    margin-bottom: 30px;
}

.kannsou-title , .comments-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}


.mom-form{
    width:400px ;
    padding: 20px;
    border:1px solid #dee7ec;
    font-size:24px;
    margin-bottom: 10px;
}

.memo-form{
    width:800px ;
    padding: 40px;
    border:1px solid #dee7ec;
    font-size:20px;

}

.btn-primary{
    margin-top: 20px;
}


.comments-form , .comments-index{
    width:1000px;
    margin-left:400px;
}
.comments-view{
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}


.submit-comment{
    margin-top: 20px;
}